<!DOCTYPE html>
<html data-theme="light">
<head>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Zaloguj się!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=" {{ asset('build/app.css') }}">
        <script src="https://kit.fontawesome.com/15901ecbea.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
</head>
<body>
    <div class="form-page">
    <form method="post">
        {% if error %}
            <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Jesteś zalogowany jako: {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="text">Zaloguj się</h1>
        <div class="line"></div>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Hasło</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Zaloguj
        </button>
        <p class="message">Nie posiadasz konta? <a href="register">Zarejestruj się</a></p>
    </form>
    </div>
    <script>
        const currentTheme = localStorage.getItem("theme");

        if (currentTheme == "dark") {
            document.documentElement.setAttribute('data-theme', 'dark');
        } else if (currentTheme == "light") {
            document.documentElement.setAttribute('data-theme', 'light');
        }
    </script>
</body>
</html>
