{% set to_read = 0 %}
{% extends "base.html.twig" %}

{% block title %}Powiadomienia{% endblock %}

{% block home %}
  <table class="notifications">
    <tbody>
      <tr>
        <th>Data</th>
        <th>Status</th>
        <th>Treść</th>
        <th>Akcje</th>
      </tr>
      {% if notifications is empty %}
        <tr>
          <td class="empty" colspan="4">Brak elementów do wyświetlenia</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="4" class="date">{{fdate|first}}</td>
        </tr> 
      {% endif %}

      {% for item in notifications %}
          {% set date = item.createddate|split(' ') %}
          {% if fdate|first != date|first %}
            <tr>
              <td colspan="4" class="date">{{date|first}}</td>
            </tr>
            {% set fdate = date %}
          {% endif %}
          
          <tr>
              <td class="time"><span>Czas: </span>{{ date|last }}</td>
              {% if item.status == 1 %}
                  <td><span class="status" style="background:#2ed573;">Sukces</span></td>
              {% elseif item.status == 2 %}
                  <td><span class="status" style="background:#FF6B6B;">Odrzucone</span></td>
              {% elseif item.status == 3 %}
                  <td><span class="status" style="background:#FF6B6B;">Usunięte</span></td>
              {% elseif item.status == 4 %}
                  <td><span class="status" style="background:#45aaf2;">Informacja</span></td>
              {% elseif item.status == 5 %}
                  <td><span class="status" style="background:#f6b93b;">Ostrzeżenie</span></td>
              {% endif %}

              {% autoescape %}
                <td class="tresc"><span>Treść: </span><b>{{ item.subject }}</b> {{ item.text|raw }}</td>
              {% endautoescape %}
              
              <td><a href="/notifications/delete/{{item.id}}" class="delete-button">Usuń</a></td>
          </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}