{% extends "base.html.twig" %}

{% block title %}Strony{% endblock %}

{% block home %}
  <div class="websites">
    <div class="search">
        <form action="/websites" method="GET">
          <label>Wyszukaj</label>
          <input type="text" name="q" value="{{ search != null ? search : "" }}">
          <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <table>
      <tbody>
        {% if websites is empty %}
          <tr>
            <td class="empty" colspan="7">Brak elementów do wyświetlenia</td>
          </tr>
        {% endif %}
        {% for item in websites %}
          <tr>
              <td><span>ID: </span>#{{loop.index + ((page - 1) * 10)}}</td>
              <td class="url"><span>Url: </span>{{item.url|length > 50 ? item.url|slice(0, 50) ~ '...' : item.url}}</td>
              {% if item.status == 2 %}
                  <td><span class="status canceled">! {{item.shorturl}} !</span></td>
              {% else %}
                  <td class="url"><span>Skrócony: </span>http://{{ ip ~ ':8000/url/' ~ item.shorturl}}</td>
              {% endif %}
              {% if item.include == 0 %}
                  <td><span class="status" style="background:#FF6B6B;">W rankingu</span></td>
              {% else %}
                  <td><span class="status" style="background:#45AAF2;">W rankingu</span></td>
              {% endif %}
              {% if item.status == 0 %}
                  <td><span class="status" style="background:#f6b93b;">Oczekujące</span></td>
              {% endif %}
              {% if item.status == 1 %}
                  <td><span class="status" style="background:#2ed573;">Zaakceptowane</span></td>
              {% endif %}
              {% if item.status == 2 %}
                  <td><span class="status" style="background:#FF6B6B;">Odrzucone</span></td>
              {% endif %}
              <td class="views"><span>Odwiedzeń: </span>{{item.visited}} <i class="fa-solid fa-eye"></i></td>
              <td>{% if item.status == 1 %}<a href="/url/{{ item.shorturl }}" target="_blank" class="button show">Pokaż</a><a onclick="modifyWebsite('{{item.hash}}');" class="button change">Zmień</a>{% endif %}<a onClick="confirm_delete('{{item.hash}}')" class="button delete">Usuń</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ knp_pagination_render(websites) }}
    <form method="POST" id="deleteForm">
        <input type="hidden" name="_method" value="DELETE">
    </form>
    <form method="POST" id="patchForm">
        <input type="hidden" name="_method" value="PATCH">
    </form>
  </div>
  <script>
    function confirm_delete(unique_id){
            Swal.fire({
                title: 'Czy jesteś pewien?',
                text: "Nie będzie można tego cofnąć!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#45AAF2',
                cancelButtonColor: '#ff6b6b',
                cancelButtonText: 'Anuluj',
                confirmButtonText: 'Tak, usuń to!'
                }).then((result) => {
                if (result.isConfirmed) {
                    let form = document.querySelector('#deleteForm');
                    form.action = "/websites/" + unique_id;
                    form.submit();
                }
                })
        }
        function modifyWebsite(unique_id){
            let form = document.querySelector('#patchForm');
            form.action = "/websites/" + unique_id;
            form.submit();
        }
  </script>
{% endblock %}