{% extends 'base.html.twig' %}

{% block title %}Panel Administacyjny{% endblock %}

{% block home %}
    {% set currentTime = "now"|date("H:i") %}
    <div class="admin">
        <div class="split-50 split-left">
            <div class="card">
                <div class="number">{{ array.users }}</div>
                <div class="info">Użytkowników</div>
                <div class="line-small"></div>
                <div class="date">Dziś, {{ currentTime }}</div>
            </div>
            <div class="card">
                <div class="number">{{ array.websites }} / {{ array.today }}</div>
                <div class="info">Skrócone linki / Dziś</div>
                <div class="line-small"></div>
                <div class="date">Dziś, {{ currentTime }}</div>
            </div>
            <div class="card">
                <div class="number">{{ array.visits }} / {{ array.tdvisits }}</div>
                <div class="info">Wyświetleń / Dziś</div>
                <div class="line-small"></div>
                <div class="date">Dziś, {{ currentTime }}</div>
            </div>
            <div class="card">
                <div class="number">{{ array.messages }} / {{ array.toread }}</div>
                <div class="info">Wiadomości / Do odczytania</div>
                <div class="line-small"></div>
                <div class="date">Dziś, {{ currentTime }}</div>
            </div>
        </div>
        <div class="line"></div>
        <div class="split-50 split-right">
            <a href="/admin/users">
                <div class="card action">
                    <i class="fa-solid fa-users"></i>
                    <div class="info">Użytkownicy</div>
                    <div class="line-small"></div>
                    <div class="footer">Zarządzanie</div>
                </div>
            </a>
            <a href="/admin/websites">
                <div class="card action">
                    <i class="fa-solid fa-code"></i>
                    <div class="info">Strony</div>
                    <div class="line-small"></div>
                    <div class="footer">Zarządzanie</div>
                </div>
            </a>
            <a href="/admin/messages">
                <div class="card action">
                    <i class="fa-solid fa-message"></i>
                    <div class="info">Wiadomości</div>
                    <div class="line-small"></div>
                    <div class="footer">Zarządzanie</div>
                </div>
            </a>
            <a href="/admin/settings">
                <div class="card action">
                    <i class="fa-solid fa-gear"></i>
                    <div class="info">Ustawienia</div>
                    <div class="line-small"></div>
                    <div class="footer">Zarządzanie</div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
