{% extends 'base.html.twig' %}

{% block title %}Użytkownicy{% endblock %}

{% block home %}
    <div class="admin">
    <div class="users">
    <a href="/admin" class="back"><i class="fa-solid fa-arrow-left"></i> Powrót</a>
        <table>
            <tbody>
            <tr>
                <th>ID</th>
                <th>Pseudonim</th>
                <th>Email</th>
                <th>Role</th>
                <th>Akcje</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td><span>ID: </span>#{{loop.index}}</td>
                    <td><span>Pseudonim: </span>{{user.username}}</td>
                    <td><span>Email: </span>{{user.email}}</td>

                    {% if user.roles is iterable %}
                        <td>
                        {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                <span class="status" style="background:#f6b93b;">Użytkownik</span>
                            {% endif %}
                            {% if role == "ROLE_ADMIN" %}
                                <span class="status" style="background:#FF6B6B;">Administrator</span>
                            {% endif %}
                            {% if role == "ROLE_MOD" %}
                                <span class="status" style="background:#26de81;">Moderator</span>
                            {% endif %}
                            {% if role == "ROLE_BLOCKED" %}
                                <span class="status" style="background:#a55eea;">Zablokowany</span>
                            {% endif %}
                        {% endfor %}
                        </td>
                    {% endif %}
                    <td><a onClick="blockUser({{user.id}})" class="button block">{{"ROLE_BLOCKED" in user.roles ? "Odblokuj" : "Zablokuj"}}</a><a onClick="set_role({{user.id}})" class="button role">Zmień Role</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form id="patchForm" method="POST">
            <input name="_method" type="hidden" value="PATCH">
            <input type="hidden" name="role" id="roleInput" value="">
        </form>
    </div>
    </div>
    <script>
    function blockUser(id) {
        var patchForm = document.getElementById('patchForm');
        patchForm.action = "/admin/users/" + id;
        document.getElementById("roleInput").value = 'BLOCK';
        patchForm.submit();
    }
    function set_role(id){
        Swal.fire({
            icon: 'success',
            title: 'Nadawanie roli',
            input: 'select',
            inputOptions: {
                'ROLE_ADMIN': 'Administrator',
                'ROLE_MOD': 'Moderator',
                'ROLE_USER': 'Użytkownik'
            },
            inputPlaceholder: 'Wybierz role',
            inputValidator: (value) => {
                if(!value){
                    return 'Musisz podać role!'
                }
            },
            showCancelButton: true,
            cancelButtonText: 'Anuluj',
            cancelButtonColor: '#FF6B6B',
            confirmButtonColor: '#45AAF2',
            confirmButtonText: 'Tak, nadaj!'
        }).then((result) => {
            if (result.isConfirmed) {
                var patchForm = document.getElementById('patchForm');
                patchForm.action = "/admin/users/" + id;
                document.getElementById("roleInput").value = result.value;
                patchForm.submit();
            }
        })
    }
    </script>
{% endblock %}