<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script src="https://kit.fontawesome.com/15901ecbea.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block javascripts %}
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% endblock %}
          <script>
            function menu(){
                let navigation = document.querySelector(".navigation");
                let closeButton = document.querySelector(".navigation .close");
                let body = document.querySelector("body");

                if (navigation.style.display == "none" || navigation.style.display == "") {
                    navigation.style.display = "flex";
                    navigation.style.flexDirection = "column";
                    navigation.style.width = "100vw";
                    body.style.overflow = "hidden";
                    closeButton.style.display = "block";
                } else {
                    navigation.style.display = "none";
                    navigation.style.flexDirection = "row";
                    navigation.style.width = "calc(100% - 72px - 40px - 206.6px - 40px - 20px)";
                    body.style.overflow = "auto";
                    closeButton.style.display = "none";
                }
            }
            function toggleMode(){
                const toggle_button_icon = document.querySelector(".mode i");
                const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
                
                let theme = localStorage.getItem("theme"); 

                if (theme == 'light') {
                    theme = 'dark'
                    document.documentElement.setAttribute('data-theme', 'dark');
                    toggle_button_icon.classList.replace("fa-moon", "fa-sun");
                } else {
                    theme = 'light'
                    document.documentElement.setAttribute('data-theme', 'light');
                    toggle_button_icon.classList.replace("fa-sun", "fa-moon");
                }
                localStorage.setItem("theme", theme);
            }
        </script>
    </head>
    <body>
        {% set currentRoute = app.request.attributes.get('_route') %}
        {% block topbar %}
            <header>
                <img src="{{ asset('images/logo.png') }}" class="logo" alt="logo">
                <div class="navigation">
                    <a href="/" {{ currentRoute == "app_main" ? 'class="active"' : '' }}>Strona Główna</a>
                    <a href="/contact" {{ currentRoute == "contact" ? 'class="active"' : '' }}>Kontakt</a>
                    {% if app.user %}
                        <span class="line"> </span>
                        <a href="/websites" {{ currentRoute == "websites" ? 'class="active"' : '' }}>Strony</a>
                        <a href="/shorturl" {{ currentRoute == "short" ? 'class="active"' : '' }}>Skróć</a>
                        <a href="/account" {{ currentRoute == "account" ? 'class="active"' : '' }}>Konto</a>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MOD') %}
                            <a href="/admin" {{ 'admin' in currentRoute ? 'class="active"' : '' }}>Admin</a>
                        {% endif %}
                    {% endif %}
                    <button class="close" onClick="menu();">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="menu" onClick="menu();"><i class="fa-solid fa-bars"></i> Menu</div>
                <div class="right">
                    <div class="mode" onClick="toggleMode()"><i class="fa-solid fa-moon"></i></div>
                    {% if app.user %}
                        <a href="/notifications">
                            <div class="notifications">
                                <span class="circle">{{to_read}}</span>
                                <i class="fa-solid fa-bell"></i>
                            </div>
                        </a>
                        <a href="logout" class="log">Wyloguj</a>
                    {% else %}
                        <a href="login" class="log">Zaloguj</a>
                    {% endif %}
                </div>
            </header>
        {% endblock %}
        <section class="center">
            {% block home %}
                
            {% endblock %}
        </section>
        {% block footer %}
            <footer>Created & designed by Mateusz Zaborski  ●  2023</footer>
        {% endblock %}
    </body>

    <script>
        const currentTheme = localStorage.getItem("theme");
        const toggle_button_icon = document.querySelector(".mode i");

        if (currentTheme == "dark") {
            document.documentElement.setAttribute('data-theme', 'dark');
            toggle_button_icon.classList.replace("fa-moon", "fa-sun");
        } else if (currentTheme == "light") {
            document.documentElement.setAttribute('data-theme', 'light');
        }
    </script>
</html>
