{% extends 'base.html.twig' %}

{% block title %}Witaj Podróżniku!{% endblock %}

{% block home %}
    <div class="split">
        <div class="left">
            <div class="welcome">Witaj<br/>{{ app.user ? app.user.email : "Podróżniku!" }}</div>
            <div class="tip">Aby stworzyć skrócony link</div>
            {% if app.user %}
                <a href="/shorturl" class="shorten-button">Skróć link</a>
            {% else %}
                <a href="/login" class="login">Zaloguj</a>
                <a href="/register" class="register">Utwórz konto</a>
            {% endif %}
        </div>
        <div class="line"> </div>
        <div class="right">
            <div class="info">Popularne linki</div>
            <table>
                {% for web in websites %}
                    <tr>
                        <td class="id">#{{ loop.index }}</td>
                        <td class="url"><span>Url: </span>http://{{ ip ~ ':8000/url/' ~ web.shorturl}}</td>
                        <td class="views"><span>Odwiedzeń: </span>{{ web.visited }} <i class="fa-solid fa-eye"></i></td>
                        <td><a href="url/{{ web.shorturl }}" class="goto">Przejdź</a></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}


